<div class="col-md-6" data-ng-hide ='partner' data-ng-controller="sendMsgCtrl">
<button type="button" class="btn btn-primary btn-block" >Chat</button>
<form name="publish_form" class="form-validation jumbotron" >
    <div class="form-group">
        <label class="sr-only" for="topic">Client Id</label>
        <input type="text" class="form-control" required placeholder="Client Id" data-ng-model="msg.topic">
    </div>
    <div class="form-group">
        <label class="sr-only" for="message">Message</label>
        <textarea class="form-control"
                  rows="2"
                  required
                  placeholder='Message'
                  data-ng-model="msg.message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" data-ng-disabled="!canSubmit()"  data-ng-click="send(msg)">Send</button>
</form>
</div>