$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
}

.container-narrow > hr {
  margin: 50px 0;
}


.btn-icon-round {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  &:hover {
    color: #fff;
  }
}
@mixin button-icon-variant($size) {
  height: $size;
  width: $size;
  line-height: $size;
}

.btn-icon-round-xs {
  @include button-icon-variant(20px);
}
.btn-icon-round-sm {
  @include button-icon-variant(30px);
}
.btn-icon-round-md {
  @include button-icon-variant(45px);
}

.btn-icon-round-xs {
  @include button-icon-variant(20px);
}
.btn-icon-round-sm {
  @include button-icon-variant(30px);
}
.btn-icon-round-md {
  @include button-icon-variant(45px);
}

.bg-danger {
  background-color: $brand-danger;
  color: #fff;
}

.bg-success {
  background-color: $brand-success;
  color: #fff;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
//    max-width: 730px;
  }


  /* Msg window */

  .chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
  }
  .chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
  }
  .icon_minim{
    padding:2px 10px;
  }
  .msg_container_base{
    background: #eeeeee;
    margin: 0;
    padding: 0 10px 10px;
    max-height:300px;
    overflow-x:hidden;
  }
  .top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
  }
  .msg_receive{
    padding-left:0;
    margin-left:0;
  }
  .msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
  }
  .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
  }
  .messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
  .messages > time {
    font-size: 11px;
    color: #ccc;
  }
  .msg_container {
    padding: 10px;
    overflow-y: hidden;
    display: flex;
  }
  img {
    display: block;
    width: 100%;
  }
  .avatar {
    position: relative;
  }
  .base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
  }

  .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
  }

  .msg_sent > time{
    float: right;
  }



  .msg_container_base::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  .msg_container_base::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  .msg_container_base::-webkit-scrollbar-thumb
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }

  .btn-group.dropup {
    position: fixed;
    left: 0px;
    bottom: 0;
  }

    /* Remove the padding we set earlier */

  .footer {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
}
