<div class="pager">

<div class="row"  data-ng-hide ='connected'>
    <div class="col-md-1"></div>
    <div class="col-md-8" >
        <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#connection">Connection</button>
    <div id="connection" class="jumbotron collapse in">
        <div data-ng-include=" 'views/connectionForm.html' "></div>
    </div>
    </div>
    <div class="col-md-3">
        <a href="javascript:;" class="btn-icon-round btn-icon-round-sm bg-danger">D</a>
    </div>
</div>

    <div class="row" data-ng-show ='connected'>
        <div class="col-md-1"></div>
        <div class="col-md-8" >
            <button type="button" class="btn btn-primary" data-ng-click="closeConnection()">Disconnect</button>
        </div>
        <div class="col-md-3">
            <a href="javascript:;" class="btn-icon-round btn-icon-round-sm bg-success">C</a>
        </div>
    </div>
</div>

<div class="row" data-ng-hide ='partner'>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#publish">Chat</button>
        <div id="publish" class="jumbotron collapse in">
            <div data-ng-include=" 'views/publishMsgForm.html' "></div>
        </div>
    </div>
</div>

<div class="row" data-ng-show ='partner'>
    <div class="col-md-1"></div>
    <div class="col-md-10">
            <div data-ng-include=" 'views/messages.html' "></div>
    </div>
</div>

</div>
